* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

a:hover{
    font-weight: bolder;
    text-decoration: none;
    color: white;
}

.topContainer {
    background-color: #6b011f;
    color: #ddbc01;  
}

.topContainer img {
    position: relative;
    padding: 10px;
    top: 20%;
    left: 1%;
    width: 8%;
    -webkit-filter: drop-shadow(100px 100px 100px #000000);
    filter: drop-shadow(10px 10px 10px #000000);
}

.topContainer li{
    margin-top: 30px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline;
    position: relative;
    left: 70%;
    text-align: center;
    bottom: 60px;
}

.topContainer li a {
    font-size: 25px;
    font-family: sans-serif;
    color: #ddbc01;
    text-decoration: none;
    padding: 8px;
}

.topContainer li a:hover{
    font-size: 25px;
    font-family: sans-serif;
    color: white;
    text-decoration: none;
    padding: 4px;
}

.middleContainer {
    background-image: url(../img/dhvsu.png);
    height: 621px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}