<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <title>Profile</title>
</head>

<body>
    <nav>
        <h4>DBMS</h4>
        <ul>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/home">Home</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>

    <div class="row">
        <div class="col-sm-3">
            <div class="card cardProfile" style="width: 18rem;">
                <img src="/img/Profile-Pic.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ name }}</h5>
                    <hr>
                    <p class="card-text">Don Honorio Venturia State University</p>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="card cardLog">
                <h5 class="card-header text-center">Timeline</h5>
                <div class="card-body">
                    <h5 class="card-title">C++</h5>
                    <p class="card-text">Pronounced "C plus plus," is a programming language that was built off the C
                        language. The syntax of C++ is nearly identical to C, but it has object-oriented features, which
                        allow the programmer to create objects within the code. This makes programming easier, more
                        efficient, and some would even say, more fun.</p>
                    <h5 class="card-title">Python</h5>
                    <p class="card-text">An interpreted, object-oriented, high-level programming language with dynamic
                        semantics.Python's simple, easy to learn syntax emphasizes readability and therefore
                        reduces the cost of program maintenance. Python supports modules and packages, which encourages
                        program modularity and code reuse.</p>
                    <h5 class="card-title">JavaScripts</h5>
                    <p class="card-text">A programming language commonly used in web development. It was originally
                        developed by Netscape as a means to add dynamic and interactive elements to websites. ... Like
                        server-side scripting languages, such as PHP and ASP, JavaScript code can be inserted anywhere
                        within the HTML of a webpage.</p>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
</body>

</html>